body {
  background-color: aliceblue;
  background-image: url(../imgs/bgschool.jpg);
}
img {
  width: 300px;
}
.title h1 {
  display: flex;
  justify-content: center;
}
.card img {
    height: 200px;
}
